<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ذاكر</title>
    <style>
        div{
            background: #fff;
            padding: 25px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            width: 100%;
            max-width: 600px;
            height:100px ;
            margin-top: 20px;
        }
        h1{
            text-align: center;
            color: #333;
            margin-bottom: 10px;
        }
    </style>
   
</head>
<body style="background-color: rgb(53, 51, 51);">
    <h1 style="color: white; margin-left: 200px; font-size: 55px; font-weight: bold;">ذاكر</h1>
   <div style="display: flex;">
    <h1>RECODE SUMMARIZATION</h1>
   </div>
   <div> 
    <h1>RECODE SUMMARIZATION</h1>
   </div>
</body>
</html>
